
NEXT_PUBLIC_API_URL=https://myjamjar.com.au/v1
NEXT_PUBLIC_API_TOKEN=
NEXT_PUBLIC_WORKSPACE_ID=tenant-xx-xxxx
NEXT_PUBLIC_INTEGRATION_NAME=Johns-MBP.modem
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_NASA_API_KEY=
